[Unit]
Description=Git Backup Timer
Requires=backup.service

[Timer]
Unit=backup.service
OnCalendar=*:0/30
Persistent=true

[Install]
WantedBy=timers.target 